{% extends 'base.html.twig' %}

{% block body %}
    <section>
        todo: afficher le formulaire
    </section>
{% endblock %}

{% block title %}
    Create a new Series | {{ parent() }}
{% endblock %}

